# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# Data files
data/raw/*
!data/raw/README.md
data/processed/*.csv

# Model files
*.pkl

# OS
.DS_Store
Thumbs.db
